#botonComercial{
    background:red;
    position: absolute;
    bottom: 10px;
    left: 49%;
    width: 60px;
}

#taparIzqcomercial{
    background:#EAEAEA;
    position: absolute;
    bottom: 10px;
    width: 170px;
    height: 25px;
}

#taparDerechaComercial{
    background:#EAEAEA;
    position: absolute;
    bottom: 10px;
    width: 290px;
    height: 25px;
    right: 0;
    margin-right: -50px;
}