.contenedorFormularioRecuperar{
    widows: 30%;
    background: white;
    float:left;
    height  : 100%;
    text-align: center;
    /* animation-name: formularioRecuperar;
    animation-delay: 2s;
    animation-duration: 4s;
    animation-fill-mode: forwards; */

}

@keyframes formularioRecuperar{
    from{ width   : 0%; }
    to { width   : 30%; }
}

.contenedorLoginSlider{
    background-image : url("http://gro.gavsistemas.com/Sistema/abs/img/sfondoLogin.png");
    background-size: cover;
    background-repeat: no-repeat;
    width           : 100%;
    height          : 100%;
    margin-left     : 30%;
}

@keyframes loginSlider{
    from{ width   : 100%; }
    to { width   : 70%; }
}

#imagenLogo{
    position: absolute;
    left: 59px;
    top: 50px;
    width: 230px;
    height: 105px;
}

.tituloIniciarSesion{
    position: absolute;
    left: 59px;
    top: 185px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    line-height: 23px;
    font-size: 20px;
    color: #3946AB;
}

#textoInputUsuario{
    position: absolute;
    left: 59px;
    top: 195px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    color: #FFFFFF;
}

#txtInputCorreo{
    position: absolute;
    left: 59px;
    top: 255px;
    font-size: 15px;
    align-items: center;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

#txtInputContrasenia{
    position: absolute;
    left: 59px;
    top: 350px;
    font-size: 15px;
    align-items: center;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

#regresarLogin{
    position: absolute;
    left: 59px;
    top: 440px;
    font-size: 15px;
    align-items: center;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    color: #3946AB;
    cursor: pointer;
}

#textoOlvidasteContrasena{
    position: absolute;
    left: 59px;
    top: 390px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
}

#campoInputUsuario{
    position: absolute;
    width: 290px;
    height: 49px;
    left: 59px;
    top: 225px;

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

#campoInputCorreo{
    position: absolute;
    width: 290px;
    height: 49px;
    left: 59px;
    top: 285px;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 24px;
}

#campoInputContrasenia{
    position: absolute;
    width: 290px;
    height: 49px;
    left: 59px;
    top: 380px;

    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 24px;
}

#textoContrasena{
    position: absolute;
    left: 59px;
    top: 273px;
    font-size: 12px;
    color: black;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
}
/* 263 */

/* 255 270 */
#textoContrasenaDos{
    position: absolute;
    left: 59px;
    top: 288px;
    font-size: 12px;
    color: black;
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
}


#inputDatosRecuperar{
    float: left;
    background:transparent;
    height:38px; 
    margin-top:5px;
    border:none; 
    width: 100%;
    /* width:250px; */
    /* width: 70%; */
    color: black;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.iconoContrasena{
    padding-top: 10px;
    padding-left: 10px;
    float:left;
}

#inputDatosRecuperar:focus{
    border: none;
    outline: none;
}

.textoFooterRecuperar{
    bottom: 20px;
    position:absolute;
    /* width: 167px; */
    height: 18px;
    left: 59px;

    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #3946AB;
}

.btnEnviar{
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    width: 290px;
    height: 49px;
    left: 59px;
    top: 485px;
    background: #3946AB;
    border-radius: 24px;
    border: none;
}

.txtBtnIniciar{
    padding-top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    color: #F93258;
}